*,
*::after,
*::before {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
}

head,
script,
style {
  display: none;
}

html {
  font-family: sans-serif;
  font-size: calc(10px + 1vmin);
}

body {
  background: #fff;
  color: rgba(0,0,0,0.8);
}

button,
input {
  padding: .25rem .5rem;
  background: #fff;
  border: 1px solid rgba(0,0,0,.1);
  outline: none;
}

button:active { outline: 1px solid rgba(0,0,0,.2); }
input:focus { outline: 1px solid rgba(0,0,0,.2); }
